body{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
span,label{
    display: block;
}
.hd_top{
    display: flex;
    width: auto;
    height: 150px;
    background-color: rgb(232, 249, 255);
}
.hd{
    margin-top: 50px;
    margin-left: 20px;
    width: 200px;
}
.hd > img{
    width: 100%;
    height: 50px;
}
.title{
    width: 1000px;
    margin-left: 100px;
}
.title > ul{
    margin-top: 50px;
    display: flex;
    width: 900px;
    height: 50px;
}
.title > ul > li{
    text-align: center;
    line-height: 50px;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.title > ul > li:hover{
    color: red;
}
.back{
    width: auto;
    height: 1522px;
    background-color: rgb(232, 249, 255);
}
.banner{
    width: auto;
    height: 500px;
}
.banner > img{
    width: 100%;
}
.st01{
    width: 1000px;
    margin-left: 250px;
}
.st01 > div{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.st01 > ul{
    display: flex;
    width: 1000px;
}
.st01 > ul > li{
    width: 300px;
}
.st01 > ul > li > img{
    width: 100%;
    height: 100%;
}
.st02{
    width: 1000px;
    margin-left: 250px;
    margin-top: 200px;
}
.st02 > div{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.st02 > ul{
    display: flex;
    width: 1000px;
}
.st02 > ul > li{
    width: 300px;
}
.st02 > ul > li > img{
    width: 100%;
    height: 100%;
}
/* .st03{
    width: 1200px;
    height: 500px;
    margin: auto;
    background-color: bisque;
}
.st04{
    width: auto;
    height: 200px;
    background-color: rgb(255, 246, 228);
} */
.ft{
    width: auto;
    height: 400px;
    background-color: #2a2a2a;
}
.ft_top{
    width: 1000px;
    padding: 50px;
}
.ft_top > div{
    padding: 10px;
    color: #c8c8c8;
}
.ft_bottom{
    text-align: bottom;
}
.ft > div{
    padding: 50px;
    color: #c8c8c8;
    font-size: 12px;
}